In [59]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as f
from pyspark.sql import functions as col

In [60]:
spark = SparkSession.builder.getOrCreate()

In [61]:
import findspark
findspark.init()

In [62]:
raw_path = 'C:/Users/Elvis/Documents/Projetos/spark/project_cenipa/data/raw'

In [63]:
file_ocorrencia = '/dados_cenipa_2022/ocorrencia.csv'

In [64]:
df_oc = spark.read.format('csv').load(raw_path + file_ocorrencia, sep=';', header=True)

In [65]:
df_oc.limit(5).toPandas()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,None,None,PORTO ALEGRE,RS,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NULL,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-234.355.555.556,-464.730.555.556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,06/01/2012,13:00:00,NULL,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,06/01/2012,17:00:00,***,NULL,NULL,NÃO,NULL,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO

In [66]:
df_oc.count()

5167

In [67]:
df_oc.columns

['codigo_ocorrencia',
 'codigo_ocorrencia1',
 'codigo_ocorrencia2',
 'codigo_ocorrencia3',
 'codigo_ocorrencia4',
 'ocorrencia_classificacao',
 'ocorrencia_latitude',
 'ocorrencia_longitude',
 'ocorrencia_cidade',
 'ocorrencia_uf',
 'ocorrencia_pais',
 'ocorrencia_aerodromo',
 'ocorrencia_dia',
 'ocorrencia_hora',
 'investigacao_aeronave_liberada',
 'investigacao_status',
 'divulgacao_relatorio_numero',
 'divulgacao_relatorio_publicado',
 'divulgacao_dia_publicacao',
 'total_recomendacoes',
 'total_aeronaves_envolvidas',
 'ocorrencia_saida_pista']

In [68]:
df_oc.printSchema()

root
 |-- codigo_ocorrencia: string (nullable = true)
 |-- codigo_ocorrencia1: string (nullable = true)
 |-- codigo_ocorrencia2: string (nullable = true)
 |-- codigo_ocorrencia3: string (nullable = true)
 |-- codigo_ocorrencia4: string (nullable = true)
 |-- ocorrencia_classificacao: string (nullable = true)
 |-- ocorrencia_latitude: string (nullable = true)
 |-- ocorrencia_longitude: string (nullable = true)
 |-- ocorrencia_cidade: string (nullable = true)
 |-- ocorrencia_uf: string (nullable = true)
 |-- ocorrencia_pais: string (nullable = true)
 |-- ocorrencia_aerodromo: string (nullable = true)
 |-- ocorrencia_dia: string (nullable = true)
 |-- ocorrencia_hora: string (nullable = true)
 |-- investigacao_aeronave_liberada: string (nullable = true)
 |-- investigacao_status: string (nullable = true)
 |-- divulgacao_relatorio_numero: string (nullable = true)
 |-- divulgacao_relatorio_publicado: string (nullable = true)
 |-- divulgacao_dia_publicacao: string (nullable = true)
 |-- total_recomendacoes: string (nullable = true)
 |-- total_aeronaves_envolvidas: string (nullable = true)
 |-- ocorrencia_saida_pista: string (nullable = true)

In [69]:
df_oc.dtypes

[('codigo_ocorrencia', 'string'),
 ('codigo_ocorrencia1', 'string'),
 ('codigo_ocorrencia2', 'string'),
 ('codigo_ocorrencia3', 'string'),
 ('codigo_ocorrencia4', 'string'),
 ('ocorrencia_classificacao', 'string'),
 ('ocorrencia_latitude', 'string'),
 ('ocorrencia_longitude', 'string'),
 ('ocorrencia_cidade', 'string'),
 ('ocorrencia_uf', 'string'),
 ('ocorrencia_pais', 'string'),
 ('ocorrencia_aerodromo', 'string'),
 ('ocorrencia_dia', 'string'),
 ('ocorrencia_hora', 'string'),
 ('investigacao_aeronave_liberada', 'string'),
 ('investigacao_status', 'string'),
 ('divulgacao_relatorio_numero', 'string'),
 ('divulgacao_relatorio_publicado', 'string'),
 ('divulgacao_dia_publicacao', 'string'),
 ('total_recomendacoes', 'string'),
 ('total_aeronaves_envolvidas', 'string'),
 ('ocorrencia_saida_pista', 'string')]

In [70]:
df_oc.describe()

DataFrame[summary: string, codigo_ocorrencia: string, codigo_ocorrencia1: string, codigo_ocorrencia2: string, codigo_ocorrencia3: string, codigo_ocorrencia4: string, ocorrencia_classificacao: string, ocorrencia_latitude: string, ocorrencia_longitude: string, ocorrencia_cidade: string, ocorrencia_uf: string, ocorrencia_pais: string, ocorrencia_aerodromo: string, ocorrencia_dia: string, ocorrencia_hora: string, investigacao_aeronave_liberada: string, investigacao_status: string, divulgacao_relatorio_numero: string, divulgacao_relatorio_publicado: string, divulgacao_dia_publicacao: string, total_recomendacoes: string, total_aeronaves_envolvidas: string, ocorrencia_saida_pista: string]

In [71]:
df_oc.select('*').limit(5).toPandas()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,None,None,PORTO ALEGRE,RS,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NULL,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-234.355.555.556,-464.730.555.556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,06/01/2012,13:00:00,NULL,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,06/01/2012,17:00:00,***,NULL,NULL,NÃO,NULL,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO

In [75]:
# verifica se os valores das colunas 'codigo_ocorrencia' e 'codigo_ocorrencia1' ,2,3 e 4 são todos iguais
compara_codigo = (df_oc.selectExpr('codigo_ocorrencia', 
                         '''case when 
                                cast(codigo_ocorrencia as INT) == cast(codigo_ocorrencia1 as INT) AND 
                                cast(codigo_ocorrencia1 as INT) == cast(codigo_ocorrencia2 as INT) AND
                                cast(codigo_ocorrencia2 as INT) == cast(codigo_ocorrencia3 as INT) AND 
                                cast(codigo_ocorrencia3 as INT) == cast(codigo_ocorrencia4 as INT)
                                then 1 else 0 end as validacao
                            '''
                         )     
        )
compara_codigo.select('validacao').distinct().limit(5).show()

+---------+
|validacao|
+---------+
|        1|
+---------+

In [ ]:
['codigo_ocorrencia',
# 'codigo_ocorrencia1',
# 'codigo_ocorrencia2',
# 'codigo_ocorrencia3',
# 'codigo_ocorrencia4',
 'ocorrencia_classificacao',
# 'ocorrencia_latitude',
# 'ocorrencia_longitude',
 'ocorrencia_cidade',
 'ocorrencia_uf',
 'ocorrencia_pais',
 'ocorrencia_aerodromo',
 'ocorrencia_dia',
 'ocorrencia_hora',
 'investigacao_aeronave_liberada',
 'investigacao_status',
 'divulgacao_relatorio_numero',
 'divulgacao_relatorio_publicado',
 'divulgacao_dia_publicacao',
 'total_recomendacoes',
 'total_aeronaves_envolvidas',
 'ocorrencia_saida_pista']

In [77]:
(
    df_oc.select(
        'codigo_ocorrencia',
        'ocorrencia_classificacao',
        'ocorrencia_cidade',
        'ocorrencia_uf',
        'ocorrencia_pais',
        'ocorrencia_aerodromo',
        'ocorrencia_dia',
        'ocorrencia_hora',
        'investigacao_aeronave_liberada',
        'investigacao_status',
        'divulgacao_relatorio_numero',
        'divulgacao_relatorio_publicado',
        'divulgacao_dia_publicacao',
        'total_recomendacoes',
        'total_aeronaves_envolvidas',
        'ocorrencia_saida_pista'
    )
    .limit(5).toPandas()
)

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,SBPA,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NULL,0,1,NÃO
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,SBGR,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,****,06/01/2012,13:00:00,NULL,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,****,06/01/2012,17:00:00,***,NULL,NULL,NÃO,NULL,0,1,NÃO
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,****,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO