In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as f

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
import findspark
findspark.init()

In [6]:
raw_path = 'C:/Users/Elvis/Documents/Projetos/spark/project_cenipa/data/raw'

In [7]:
file_ocorrencia = '/dados_cenipa_2022/ocorrencia.csv'

In [8]:
df_oc_bruto = spark.read.format('csv').load(raw_path + file_ocorrencia, sep=';', header=True)

In [9]:
df_oc_bruto.limit(5).toPandas()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,None,None,PORTO ALEGRE,RS,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NULL,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-234.355.555.556,-464.730.555.556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,01/09/2016,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,06/01/2012,13:00:00,NULL,FINALIZADA,A-070/CENIPA/2013,SIM,27/11/2013,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,06/01/2012,17:00:00,***,NULL,NULL,NÃO,NULL,0,1,NÃO
4,45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,27/11/2013,0,1,NÃO

In [10]:
df_oc_bruto.count()

5167

In [11]:
df_oc_bruto.columns

['codigo_ocorrencia',
 'codigo_ocorrencia1',
 'codigo_ocorrencia2',
 'codigo_ocorrencia3',
 'codigo_ocorrencia4',
 'ocorrencia_classificacao',
 'ocorrencia_latitude',
 'ocorrencia_longitude',
 'ocorrencia_cidade',
 'ocorrencia_uf',
 'ocorrencia_pais',
 'ocorrencia_aerodromo',
 'ocorrencia_dia',
 'ocorrencia_hora',
 'investigacao_aeronave_liberada',
 'investigacao_status',
 'divulgacao_relatorio_numero',
 'divulgacao_relatorio_publicado',
 'divulgacao_dia_publicacao',
 'total_recomendacoes',
 'total_aeronaves_envolvidas',
 'ocorrencia_saida_pista']

In [12]:
df_oc_bruto.printSchema()

root
 |-- codigo_ocorrencia: string (nullable = true)
 |-- codigo_ocorrencia1: string (nullable = true)
 |-- codigo_ocorrencia2: string (nullable = true)
 |-- codigo_ocorrencia3: string (nullable = true)
 |-- codigo_ocorrencia4: string (nullable = true)
 |-- ocorrencia_classificacao: string (nullable = true)
 |-- ocorrencia_latitude: string (nullable = true)
 |-- ocorrencia_longitude: string (nullable = true)
 |-- ocorrencia_cidade: string (nullable = true)
 |-- ocorrencia_uf: string (nullable = true)
 |-- ocorrencia_pais: string (nullable = true)
 |-- ocorrencia_aerodromo: string (nullable = true)
 |-- ocorrencia_dia: string (nullable = true)
 |-- ocorrencia_hora: string (nullable = true)
 |-- investigacao_aeronave_liberada: string (nullable = true)
 |-- investigacao_status: string (nullable = true)
 |-- divulgacao_relatorio_numero: string (nullable = true)
 |-- divulgacao_relatorio_publicado: string (nullable = true)
 |-- divulgacao_dia_publicacao: string (nullable = true)
 |-- total_recomendacoes: string (nullable = true)
 |-- total_aeronaves_envolvidas: string (nullable = true)
 |-- ocorrencia_saida_pista: string (nullable = true)

In [13]:
df_oc_bruto.dtypes

[('codigo_ocorrencia', 'string'),
 ('codigo_ocorrencia1', 'string'),
 ('codigo_ocorrencia2', 'string'),
 ('codigo_ocorrencia3', 'string'),
 ('codigo_ocorrencia4', 'string'),
 ('ocorrencia_classificacao', 'string'),
 ('ocorrencia_latitude', 'string'),
 ('ocorrencia_longitude', 'string'),
 ('ocorrencia_cidade', 'string'),
 ('ocorrencia_uf', 'string'),
 ('ocorrencia_pais', 'string'),
 ('ocorrencia_aerodromo', 'string'),
 ('ocorrencia_dia', 'string'),
 ('ocorrencia_hora', 'string'),
 ('investigacao_aeronave_liberada', 'string'),
 ('investigacao_status', 'string'),
 ('divulgacao_relatorio_numero', 'string'),
 ('divulgacao_relatorio_publicado', 'string'),
 ('divulgacao_dia_publicacao', 'string'),
 ('total_recomendacoes', 'string'),
 ('total_aeronaves_envolvidas', 'string'),
 ('ocorrencia_saida_pista', 'string')]

In [14]:
df_oc_bruto.describe().toPandas()

,summary,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,count,5167,5167,5167,5167,5167,5167,4192,4192,5167,...,5167,5167,5166,5167,5166,5167,5167,5167,5167,5167
1,mean,64008.27365976389,64008.27365976389,64008.27365976389,64008.27365976389,64008.27365976389,None,-134.23766952467383,-2.2205236399232608E8,None,...,None,None,None,None,None,None,None,0.23166247338881363,1.013160441261854,None
2,stddev,13765.7271509638,13765.7271509638,13765.7271509638,13765.7271509638,13765.7271509638,None,198.1083349970304,3.639743465089181E9,None,...,None,None,None,None,None,None,None,0.8421370069951989,0.11895880891300648,None
3,min,45331,45331,45331,45331,45331,ACIDENTE,***,***,ABADIA DE GOIÁS,...,01/01/2013,00:00:00,***,ATIVA,*,NÃO,01/05/2018,0,1,NÃO
4,max,80468,80468,80468,80468,80468,INCIDENTE GRAVE,\t-49.23388889\t,\t-57.26611111\t,ÁLVARES MACHADO,...,31/12/2021,NULL,SIM,NULL,OF Nº 3/SI/2071 DE 04/03/2013,SIM,NULL,9,3,SIM

In [15]:
# verifica se os valores das colunas 'codigo_ocorrencia' e 'codigo_ocorrencia1' ,2,3 e 4 são todos iguais
compara_codigo = (df_oc_bruto.selectExpr('codigo_ocorrencia', 
                         '''case when 
                                cast(codigo_ocorrencia as INT) == cast(codigo_ocorrencia1 as INT) AND 
                                cast(codigo_ocorrencia1 as INT) == cast(codigo_ocorrencia2 as INT) AND
                                cast(codigo_ocorrencia2 as INT) == cast(codigo_ocorrencia3 as INT) AND 
                                cast(codigo_ocorrencia3 as INT) == cast(codigo_ocorrencia4 as INT)
                                then 1 else 0 end as validacao
                            '''
                         )     
        )
compara_codigo.select('validacao').distinct().limit(5).show()

+---------+
|validacao|
+---------+
|        1|
+---------+

In [16]:
# Selecionando apenas as colunas úteis
df_oc_bruto = (
    df_oc_bruto.select(
        'codigo_ocorrencia',
#        'codigo_ocorrencia1',
#        'codigo_ocorrencia2',
#        'codigo_ocorrencia3',
#        'codigo_ocorrencia4',
        'ocorrencia_classificacao',
#        'ocorrencia_latitude',
#        'ocorrencia_longitude',
        'ocorrencia_cidade',
        'ocorrencia_uf',
        'ocorrencia_pais',
        'ocorrencia_aerodromo',
        'ocorrencia_dia',
        'ocorrencia_hora',
        'investigacao_aeronave_liberada',
        'investigacao_status',
#        'divulgacao_relatorio_numero',
        'divulgacao_relatorio_publicado',
        'divulgacao_dia_publicacao',
        'total_recomendacoes',
        'total_aeronaves_envolvidas',
        'ocorrencia_saida_pista'
    )
)

In [17]:
df_oc_bruto.limit(3).toPandas()

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,SBPA,05/01/2012,20:27:00,***,FINALIZADA,NÃO,NULL,0,1,NÃO
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,SBGR,06/01/2012,13:44:00,SIM,FINALIZADA,SIM,01/09/2016,3,1,NÃO
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,****,06/01/2012,13:00:00,NULL,FINALIZADA,SIM,27/11/2013,0,1,NÃO

In [19]:
(
    df_oc_bruto
    .filter(f.col('ocorrencia_uf').isin('SP'))
    .limit(5).toPandas()
)

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,45331,ACIDENTE,GUARULHOS,SP,BRASIL,SBGR,06/01/2012,13:44:00,SIM,FINALIZADA,SIM,01/09/2016,3,1,NÃO
1,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,****,06/01/2012,17:00:00,***,NULL,NÃO,NULL,0,1,NÃO
2,52243,INCIDENTE,UBATUBA,SP,BRASIL,****,06/01/2012,14:30:00,***,FINALIZADA,NÃO,NULL,0,1,NÃO
3,50713,INCIDENTE GRAVE,CAMPINAS,SP,BRASIL,SDAI,07/01/2012,18:15:00,SIM,FINALIZADA,SIM,08/01/2014,0,1,NÃO
4,45408,ACIDENTE,ELDORADO,SP,BRASIL,****,11/01/2012,13:45:00,SIM,FINALIZADA,SIM,08/07/2021,1,1,NÃO

In [21]:
df_oc_bruto.filter(f.col('investigacao_status').isNull()).limit(5).toPandas()

Empty DataFrame
Columns: [codigo_ocorrencia, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_pais, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, investigacao_aeronave_liberada, investigacao_status, divulgacao_relatorio_publicado, divulgacao_dia_publicacao, total_recomendacoes, total_aeronaves_envolvidas, ocorrencia_saida_pista]
Index: []

In [22]:
df_oc_bruto.orderBy(f.desc('total_recomendacoes')).limit(5).toPandas()

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,45571,ACIDENTE,MARITUBA,PA,BRASIL,****,22/02/2012,13:40:00,SIM,FINALIZADA,SIM,24/11/2016,9,1,NÃO
1,46583,ACIDENTE,ALMIRANTE TAMANDARÉ,PR,BRASIL,****,06/11/2012,21:30:00,SIM,FINALIZADA,SIM,03/06/2016,9,1,NÃO
2,77678,ACIDENTE,RECIFE,PE,BRASIL,****,23/01/2018,09:05:00,NULL,FINALIZADA,SIM,29/10/2020,9,1,NÃO
3,77803,INCIDENTE GRAVE,BRASÍLIA,DF,BRASIL,SBBR,09/04/2018,00:32:00,SIM,FINALIZADA,SIM,18/12/2019,9,2,NÃO
4,78341,INCIDENTE GRAVE,MANAUS,AM,BRASIL,SBEG,28/11/2018,19:43:00,SIM,FINALIZADA,SIM,08/07/2021,9,1,SIM

In [23]:
df_oc_bruto.orderBy('total_aeronaves_envolvidas').limit(5).toPandas()

,codigo_ocorrencia,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,INCIDENTE,PORTO ALEGRE,RS,BRASIL,SBPA,05/01/2012,20:27:00,***,FINALIZADA,NÃO,NULL,0,1,NÃO
1,45331,ACIDENTE,GUARULHOS,SP,BRASIL,SBGR,06/01/2012,13:44:00,SIM,FINALIZADA,SIM,01/09/2016,3,1,NÃO
2,45333,ACIDENTE,VIAMÃO,RS,BRASIL,****,06/01/2012,13:00:00,NULL,FINALIZADA,SIM,27/11/2013,0,1,NÃO
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,BRASIL,****,06/01/2012,17:00:00,***,NULL,NÃO,NULL,0,1,NÃO
4,45407,ACIDENTE,SÃO SEPÉ,RS,BRASIL,****,06/01/2012,16:30:00,SIM,FINALIZADA,SIM,27/11/2013,0,1,NÃO

In [24]:
df_oc_bruto.dtypes

[('codigo_ocorrencia', 'string'),
 ('ocorrencia_classificacao', 'string'),
 ('ocorrencia_cidade', 'string'),
 ('ocorrencia_uf', 'string'),
 ('ocorrencia_pais', 'string'),
 ('ocorrencia_aerodromo', 'string'),
 ('ocorrencia_dia', 'string'),
 ('ocorrencia_hora', 'string'),
 ('investigacao_aeronave_liberada', 'string'),
 ('investigacao_status', 'string'),
 ('divulgacao_relatorio_publicado', 'string'),
 ('divulgacao_dia_publicacao', 'string'),
 ('total_recomendacoes', 'string'),
 ('total_aeronaves_envolvidas', 'string'),
 ('ocorrencia_saida_pista', 'string')]

### <font color="darkblue">Verificando os dados por colunas</font>

In [25]:
(
    df_oc_bruto
    .agg(f.countDistinct('ocorrencia_pais').alias('Pais_Distinct'))
    .toPandas()
)

   Pais_Distinct
0              1

In [26]:
(
    df_oc_bruto
    .groupBy('ocorrencia_uf')
    .count()
    .orderBy(f.col('count').desc())
    .toPandas()
)

   ocorrencia_uf  count
0             SP   1261
1             MG    499
2             PR    431
3             RJ    402
4             RS    327
5             MT    276
6             GO    268
7             PA    261
8             AM    207
9             BA    183
10            SC    167
11            MS    158
12            DF    106
13            PE     86
14            CE     78
15            ES     73
16            MA     59
17            RR     54
18            AC     49
19            TO     46
20            RO     43
21            PI     38
22            AL     28
23            PB     22
24            RN     17
25            SE     14
26            AP     12
27            **      2

In [27]:
(
    df_oc_bruto
    .groupBy('ocorrencia_classificacao')
    .count()
    .orderBy(f.col('count').desc())
    .toPandas()
)

  ocorrencia_classificacao  count
0                INCIDENTE   2809
1                 ACIDENTE   1667
2          INCIDENTE GRAVE    691

In [28]:
(
    df_oc_bruto
    .groupBy('ocorrencia_cidade')
    .count()
    .orderBy(f.col('ocorrencia_cidade'))
#    .orderBy(f.col('ocorrencia_cidade').desc())
    .limit(5)
    .toPandas()
)

  ocorrencia_cidade  count
0   ABADIA DE GOIÁS      2
1             ACARÁ      1
2           ACREÚNA      1
3    AFONSO CLÁUDIO      1
4              AFUÁ      1

In [29]:
(
    df_oc_bruto
    .groupBy('ocorrencia_pais')
    .count()
    .orderBy(f.col('ocorrencia_pais'))
#    .orderBy(f.col('ocorrencia_cidade').desc())
    .limit(5)
    .toPandas()
)

  ocorrencia_pais  count
0          BRASIL   5167

In [30]:
(
    df_oc_bruto
    .groupBy('ocorrencia_aerodromo')
    .count()
    .orderBy(f.col('ocorrencia_aerodromo'))
#    .orderBy(f.col('ocorrencia_cidade').desc())
#    .limit(10)
    .toPandas()
)

    ocorrencia_aerodromo  count
0                   ###!      7
1                   ####     13
2                   ****   1708
3                  *****    177
4                   5JTI      1
..                   ...    ...
511                 SWVZ      1
512                 SWXQ      2
513                 SWXV      1
514                 SWYH      1
515                 SWYV      1

[516 rows x 2 columns]

In [31]:
(
    df_oc_bruto
    .groupBy('ocorrencia_dia')
    .count()
#    .orderBy(f.col('ocorrencia_dia'))
    .orderBy(f.col('ocorrencia_dia').desc())
    .limit(10)
    .toPandas()
)

  ocorrencia_dia  count
0     31/12/2021      4
1     31/12/2020      2
2     31/12/2019      2
3     31/12/2018      1
4     31/12/2016      2
5     31/12/2015      1
6     31/12/2013      1
7     31/12/2012      1
8     31/10/2021      1
9     31/10/2019      1

In [32]:
(
    df_oc_bruto
    .groupBy('ocorrencia_hora')
    .count()
#    .orderBy(f.col('ocorrencia_hora'))
    .orderBy(f.col('ocorrencia_hora').desc())
    .limit(10)
    .toPandas()
)

  ocorrencia_hora  count
0            NULL      1
1        23:58:00      2
2        23:57:00      1
3        23:55:00      1
4        23:54:00      1
5        23:53:00      1
6        23:51:00      1
7        23:50:00      1
8        23:49:00      3
9        23:48:00      1

In [33]:
(
    df_oc_bruto
    .groupBy('investigacao_aeronave_liberada')
    .count()
    .orderBy(f.col('investigacao_aeronave_liberada'))
#    .orderBy(f.col('investigacao_aeronave_liberada').desc())
    .limit(10)
    .toPandas()
)

  investigacao_aeronave_liberada  count
0                           None      1
1                            ***   1612
2                           NULL    165
3                            NÃO     32
4                            SIM   3357

In [34]:
(
    df_oc_bruto
    .groupBy('investigacao_status')
    .count()
    .orderBy(f.col('investigacao_status'))
#    .orderBy(f.col('investigacao_status').desc())
    .limit(10)
    .toPandas()
)

  investigacao_status  count
0               ATIVA    421
1          FINALIZADA   4489
2                NULL    257

In [35]:
(
    df_oc_bruto
    .groupBy('divulgacao_relatorio_publicado')
    .count()
    .orderBy(f.col('divulgacao_relatorio_publicado'))
#    .orderBy(f.col('divulgacao_relatorio_publicado').desc())
    .limit(10)
    .toPandas()
)

  divulgacao_relatorio_publicado  count
0                            NÃO   3818
1                            SIM   1349

In [36]:
(
    df_oc_bruto
    .groupBy('divulgacao_dia_publicacao')
    .count()
#    .orderBy(f.col('divulgacao_dia_publicacao'))
    .orderBy(f.col('divulgacao_dia_publicacao').desc())
    .limit(10)
    .toPandas()
)

  divulgacao_dia_publicacao  count
0                      NULL   3816
1                31/10/2016      1
2                31/03/2017      1
3                30/12/2021     24
4                30/12/2013      3
5                30/11/2017     12
6                30/11/2015      1
7                30/11/2013      1
8                30/09/2017      1
9                30/06/2016      2

In [37]:
(
    df_oc_bruto
    .groupBy('total_recomendacoes')
    .count()
    .orderBy(f.col('total_recomendacoes'))
#    .orderBy(f.col('total_recomendacoes').desc())
    .limit(10)
    .toPandas()
)

  total_recomendacoes  count
0                   0   4576
1                   1    294
2                  11      1
3                  12      1
4                  13      1
5                   2    163
6                   3     64
7                   4     35
8                   5      9
9                   6      9

In [38]:
(
    df_oc_bruto
    .groupBy('total_aeronaves_envolvidas')
    .count()
    .orderBy(f.col('total_aeronaves_envolvidas'))
#    .orderBy(f.col('total_aeronaves_envolvidas').desc())
    .limit(10)
    .toPandas()
)

  total_aeronaves_envolvidas  count
0                          1   5102
1                          2     62
2                          3      3

In [39]:
(
    df_oc_bruto
    .groupBy('ocorrencia_saida_pista')
    .count()
    .orderBy(f.col('ocorrencia_saida_pista'))
#    .orderBy(f.col('ocorrencia_saida_pista').desc())
    .limit(10)
    .toPandas()
)

  ocorrencia_saida_pista  count
0                    NÃO   4684
1                    SIM    483

#### Anotações para correções
    Coluna: 
    ocorrencia_uf => Tratar os: **
    ocorrencia_aerodromo => Tratar os: ###!, ####, ****
    ocorrencia_hora  => Tratar os: NULL
    investigacao_aeronave_liberada  => Tratar os: None, ***, NULL
    divulgacao_dia_publicacao   => Tratar os: NULL